body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	margin: 10px;
	box-shadow: black 0 0 20px;
	height: 400px;
	width: 700px;
	box-sizing: border-box;
}
.card-vertical {
	margin: 10px;
	box-shadow: black 0 0 20px;
	height: 700px;
	width: 400px;
	box-sizing: border-box;
}
.business::after {
	content: 'Lorem Ipsum & Co.';
}
.website::after {
	content: 'loremipsum.com'
}
.name::after {
	content: 'Lorem Ipsum';
}
.job::after {
	content: 'Lorem Ipsum';
}
.email::after {
	content: 'ipsum@loremipsum.com';
}
.social::after {
	content: '@loremipsum';
}
.phone::after {
	content: '(123) 456-7890';
}

.plain {
	padding: 40px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

}
.plain > *::after {
	font-family: 'Lora';
	font-size: 28px;

	color: #6b6b6b;

	line-height: 1;
}
.plain > .name::after {
	font-size: 48px;
	font-family: 'Shrikhand';

	color: #fc0051;
}
.plain > .phone::after {
	font-size: 26px;
}
.plain > footer {
	height: 400px;
	width: 100px;

	background-color: #fc0051;

	position: absolute;
	z-index: 1;

	margin-top: -40px;
	margin-left: 560px;
}


.swatch {
	padding-bottom: 20px;
}
.swatch > main {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.swatch > main > img {
	height: 100%;	

	opacity: 0.5;
}
.swatch > header {
	z-index: 10; 
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 700px;
	height: 400px;
}
.swatch > header > *::after {
	color: #6c6363;

	font-family: 'Eczar';
	font-size: 22px;
	
	line-height: 1.2;
}
.swatch > header > .name::after {
	font-size: 48px;
	font-weight: 700;
	
	text-transform: uppercase;
	
	letter-spacing: 4px;
}

.gold {
	padding: 20px;

	background-color: #f1ede2;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(20, 1fr);

	grid-template-areas: 
	"logo . ."
	". . ."
	". . ."
	". . ."
	"name name name" 
	"job job job"
	". . ."
	". . ."
	". . ."
	". phone phone"
	". email email"
	". social social"
	". . ."
	". . ."
	". . ."
	". . ."
	". . ."
	". . ."
	". business business"
	". website website"
	;
}
.gold > *::after {
	font-family: 'Dosis';
	font-size: 24px;
	text-transform: lowercase;

	line-height: 1;

	color: #6d4d03;
}
.gold > .logo {
	grid-area: logo;

	text-align: left
}
.gold > .logo > .material-icons {
	color: #6d4d03;
	font-size: 60px !important;
}
.gold > .name {
	grid-area: name;
}
.gold > .name::after {
	font-size: 48px;
	font-weight: 700;
}
.gold > .job {
	grid-area: job;
}
.gold > .phone  {
	grid-area: phone;
}
.gold > .email  {
	grid-area: email;
}
.gold > .social  {
	grid-area: social;
}
.gold > .business {
	grid-area: business;
}
.gold > .website {
	grid-area: website;
}

