body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.card {
	margin: 10px;
	box-shadow: #999 0 0 20px;
	height: 400px;
	width: 700px;
	box-sizing: border-box;
}
.vertical {
	height: 700px;
	width: 400px;
}
.business::after {
	content: 'Lorem Ipsum & Co.';
}
.website::after {
	content: 'loremipsum.com'
}
.name::after {
	content: 'Lorem Ipsum';
}
.job::after {
	content: 'Lorem Ipsum';
}
.email::after {
	content: 'ipsum@loremipsum.com';
}
.social::after {
	content: '@loremipsum';
}
.phone::after {
	content: '(123) 456-7890';
}

.plain {
	padding: 60px 80px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.plain > *::after {
	font-family: 'Lora';
	font-size: 28px;

	line-height: 1.4;
}
.plain > .business {
	transform:  rotate(90deg);

	position: absolute;
	margin-top: 90px;
	margin-left: 370px;

	z-index: 3;

	text-align: center;
	
	line-height: 110px;
	
	width: 400px;
	height: 100px;
}
.plain > .business::after {
	color: #fff;
	font-size: 30px;
}
.plain > .name::after {
	font-size: 48px;
	font-family: 'Shrikhand';

	color: #fc0051;
}
.plain > .phone::after {
	font-size: 26px;
}
.plain > footer {
	height: 400px;
	width: 100px;

	background-color: #fc0051;

	position: absolute;
	z-index: 1;

	margin-top: -60px;
	margin-left: 520px;
}

.swatch {
	padding-bottom: 20px;
}
.swatch > main {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.swatch > main > img {
	height: 100%;	

	opacity: 0.3;
}
.swatch > header {
	z-index: 10; 
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 700px;
	height: 400px;
}
.swatch > header > *::after {
	font-family: 'Arima Madurai';
	font-size: 24px;
	
	line-height: 1.2;
}
.swatch > header > .business::after {
	font-weight: 900;
}
.swatch > header > .name {
	border-top: 1px solid black;
	width: 90%;
	text-align: center;
	padding-top: 10px;
}
.swatch > header > .name::after {
	font-size: 48px;
	font-weight: 900;
	
	text-transform: uppercase;
}
.swatch > header > .job {
	border-bottom: 1px solid black;
	width: 90%;
	text-align: center;
	padding-bottom: 10px;
}

.gold {
	padding: 20px;;

	background-color: #fff9e8;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(20, 1fr);

	grid-template-areas: 
	"logo logo . ."
	". . . ."
	". . . ."
	"name name name name" 
	"job job job job"
	". . . ."
	". . . ."
	". phone phone phone"
	". email email email"
	". social social social"
	". . . ."
	". . . ."
	". . . ."
	". . . ."
	". . . ."
	". . . ."
	". . . ."
	". business business business"
	". website website website";
}
.gold > *::after {
	font-family: 'Dosis';
	font-size: 28px;
	text-transform: lowercase;

	line-height: 1;

	color: #6d4d03;
}
.gold > .logo {
	grid-area: logo;

	text-align: left
}
.gold > .logo > .material-icons {
	color: #6d4d03;
	font-size: 60px !important;
	margin-right: -20px;
}
.gold > .name {
	grid-area: name;
}
.gold > .name::after {
	font-size: 48px;
	font-weight: 700;
}
.gold > .job {
	grid-area: job;
}
.gold > .phone  {
	grid-area: phone;
}
.gold > .email  {
	grid-area: email;
}
.gold > .social  {
	grid-area: social;
}
.gold > .business {
	grid-area: business;
}
.gold > .business::after {
	font-weight: 700;
}
.gold > .website {
	grid-area: website;
}

.marker {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.marker > header{
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 40px;
}
.marker > header > .business {
	width: 60%;
}
.marker > header > .business::after {
	font-family: 'Knewave';
	font-size: 48px;

	line-height: 1.2;
}
.marker > main {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.marker > main > * {
	font-family: 'Averia Libre';
	font-size: 20px;

	line-height: 1.6;

	padding-left: 60px;
}
.marker > main > .name {
	text-transform: uppercase;

	font-size: 24px;
	font-weight: 700;

	letter-spacing: 1px;
}
.marker > main > .website {
	font-weight: 700;
}

.lines {
	overflow: hidden;
}
.lines > header {
	width: 500px;
	height: 600px;

	z-index: -1;
	position: relative;

	transform: rotate(45deg) scale(2);

	font-size: 20px;
	font-family: 'Monoton';

	line-height: 0.8;
	
	word-break: break-all;

	opacity: 0.20;
	overflow: hidden;
}
.lines > main {
	position: absolute;
	z-index: 3;

	margin-top: -600px;

	height: 400px;
	width: 700px;

	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	font-family: 'Rye';
	font-size: 40px;
	color: #083c8d;

	line-height: 1;
}
.lines > main > .name {
	font-size: 80px;
}
.lines > main > .website {
	text-align: right;
	width: 100%;
}

.sketch {
	background: url('./assets/sketch.png');
	background-repeat: no-repeat;
	background-size: cover;

	padding: 20px;
}
.sketch > section {
	height: 100%;
	border: 20px solid #fff;
	box-sizing: border-box;
	padding: 20px;
}
.sketch > section > main {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Cormorant';
	font-size: 24px;

	color: #2c771e;
	background-color: #fff;

	box-sizing: border-box;

	line-height: 1.6;
}
.sketch > section > main > .name {
	line-height: 0.6;
}
.sketch > section > main > .name::after {
	font-family: 'Poppins';
	font-size: 32px;

	text-transform: uppercase;
}
.sketch > section > main > .business {
	line-height: 0.6;
}
.sketch > section > main > .business::after {
	font-family: 'Poppins';
	text-transform: uppercase;

	font-size: 20px;
	letter-spacing: 1px;
}

.dark {
	background-color: #192050;
	color: #c3a23e;
}
.dark > main {
	padding: 40px;
	box-sizing: border-box;

	height: 100%;

	display: grid;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 
		"business business business business icon"
		"website website website website icon"
		"name name name name name"
		"job job job phone phone"
		"social social email email email";	
}
.dark > main > div {
	text-align: center;
	
	box-shadow: 0 0 0 2px #336b7b;
	
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	font-family: 'Merriweather';
	font-size: 22px;

	padding: 0 20px;
}
.dark > main > .name {
	grid-area: name;

	font-family: 'Diplomata SC';
	font-size: 36px;

	letter-spacing: 2px;

	align-items: center;
	padding: 0;
}
.dark > main > .job {
	grid-area: job;

	text-transform: uppercase;
	letter-spacing: 1px;
}
.dark > main > .social {
	grid-area: social;
}
.dark > main > .phone {
	grid-area: phone;
	align-items: flex-end;
}
.dark > main > .email {
	grid-area: email;
	align-items: flex-end;
}
.dark > main > .business {
	grid-area: business;
	align-items: flex-start;

	text-transform: uppercase;
	letter-spacing: 1px;
}
.dark > main > .website {
	grid-area: website;
	align-items: flex-start;
}
.dark > main > .icon {
	grid-area: icon;

	align-items: center;
	padding: 0;
}
.dark > main > .icon > .material-icons {
	font-size: 60px;
	line-height: 0.4;
}